<%= provide(:title, "Index") %>
<% if user_signed_in? %>
  Welcome <%= current_user.name %>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Bidding App</h1>

    <h2>
      This is the home page for the
      Bidding application.
    </h2>

    <%= link_to "Sign up now!", new_registration_path(User), class: "btn btn-lg btn-primary" %>
</div>
<% end %>
