<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Bidding app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_session_path(User) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
